## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [4]:
print(f'Matemática: {(df_mat["Qt_acertos"].sum() / (24*100)):.2%}')
print(f'Português: {(df_por["Qt_acertos"].sum() / (18*100)):.2%}')
print(f'Geografia: {(df_geo["Qt_acertos"].sum() / (8*100)):.2%}')
print(f'Inglês: {(df_ing["Qt_acertos"].sum() / (8*100)):.2%}')
print(f'História: {(df_his["Qt_acertos"].sum() / (8*100)):.2%}')
print(f'Física: {(df_fis["Qt_acertos"].sum() / (12*100)):.2%}')
print(f'Química: {(df_qui["Qt_acertos"].sum() / (12*100)):.2%}')

Matemática: 49.38%
Português: 40.17%
Geografia: 42.00%
Inglês: 47.62%
História: 45.00%
Física: 44.33%
Química: 45.25%

In [6]:
df = pd.DataFrame()

df['Matemática'] = df_mat["Qt_acertos"]
df['Português'] = df_por["Qt_acertos"]
df['Geografia'] = df_geo["Qt_acertos"]
df['Inglês'] = df_ing["Qt_acertos"]
df['História'] = df_his["Qt_acertos"]
df['Física'] = df_fis["Qt_acertos"]
df['Química'] = df_qui["Qt_acertos"]
df['Total_Acertos'] = (df['Matemática'] + df ['Português'] + df['Geografia'] +
                      df['Inglês'] + df['História'] + df['Física'] + df['Química'])
df.head(10)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
5,20,2,5,3,2,9,9,50
6,6,0,7,7,5,0,4,29
7,18,4,4,7,7,1,8,49
8,22,9,2,7,6,5,7,58
9,10,6,3,6,4,8,2,39

In [32]:
Qt_acertos_total = 24 + 18 + 8 + 8 + 8 + 12 + 12

df['Total_Acertos_%'] = round((df['Total_Acertos'] / 90 * 100), 2)
df.head(10)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%,Total_Acertos%
0,6,7,7,3,1,8,3,35,38.89,38.89
1,19,10,0,0,0,11,8,48,53.33,53.33
2,14,16,0,5,7,4,4,50,55.56,55.56
3,10,7,3,4,0,0,8,32,35.56,35.56
4,7,2,2,7,0,9,3,30,33.33,33.33
5,20,2,5,3,2,9,9,50,55.56,55.56
6,6,0,7,7,5,0,4,29,32.22,32.22
7,18,4,4,7,7,1,8,49,54.44,54.44
8,22,9,2,7,6,5,7,58,64.44,64.44
9,10,6,3,6,4,8,2,39,43.33,43.33

In [34]:
df[df['Total_Acertos'] > 45].index.nunique()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [36]:
df_desqualificados = df[ (df['Matemática'] == 0) |
                         (df['Física'] == 0) |
                         (df['Química'] == 0) ]

df_desqualificados.head(5)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%,Total_Acertos%
3,10,7,3,4,0,0,8,32,35.56,35.56
6,6,0,7,7,5,0,4,29,32.22,32.22
10,10,8,3,2,1,7,0,31,34.44,34.44
12,20,8,3,7,1,0,3,42,46.67,46.67
14,7,11,1,7,1,4,0,31,34.44,34.44

In [38]:
# Quantidade de alunos desqualificados:

df_desqualificados.index.nunique()

23

In [40]:
#Média dos alunos em Histórioa e geografia:

print(f'Média História: {df_desqualificados["História"].mean():.2}')
print(f'Média Geografia: {df_desqualificados["Geografia"].mean():.2}')

Média História: 3.4
Média Geografia: 3.2

In [42]:
df_qualificados = df[ (df['Matemática'] != 0) &
                         (df['Física'] != 0) &
                         (df['Química'] != 0) ]
df_qualificados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%,Total_Acertos%
0,6,7,7,3,1,8,3,35,38.89,38.89
1,19,10,0,0,0,11,8,48,53.33,53.33
2,14,16,0,5,7,4,4,50,55.56,55.56
4,7,2,2,7,0,9,3,30,33.33,33.33
5,20,2,5,3,2,9,9,50,55.56,55.56
...,...,...,...,...,...,...,...,...,...,...
93,12,16,5,5,6,6,6,56,62.22,62.22
95,6,4,7,1,4,9,3,34,37.78,37.78
96,8,1,4,6,1,4,3,27,30.00,30.00
97,23,5,0,2,4,1,5,40,44.44,44.44
99,11,15,0,1,6,7,2,42,46.67,46.67

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [102]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-8343820e-d474-48aa-b618-6b781a312853.c000.csv'

In [104]:
df = pd.read_csv(arquivo, sep=';')
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,7bd14950-ef22-46aa-b6f3-a3771d407164-i0b0,c1c450a18a82f9213f7306f05e8e41b77ef5f2ee8e489a...,66,1955-09-18,F,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,9.0,Trabalhadores de Saúde,21OVCD317W,ASTRAZENECA/FIOCRUZ,149,2022-07-06,2º Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
1,932c2b71-da1b-4cc9-9243-45876fa33afc-i0b0,f9f8a69f428be82064cbb83644dda18ef14085b416ec40...,16,2005-04-22,F,3,PARDA,120010.0,10.0,BRASILEIA,...,114.0,Outros,FF8842,PFIZER,Organization/00394544000851,2021-10-13,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,16f541ba-6609-4227-8347-9240e13ae1f4-i0b0,37c352eb7fd28c5c7f7bbe97f342326dd37a37e9c0ad02...,36,1985-05-22,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-07-27,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,934f1ef2-407a-4d2a-9c50-6e3b1fadeaaf-i0b0,0506ec80187b517616f1cf40bc5f092038190712af1e6f...,20,2001-11-11,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,32010BD,PFIZER,Organization/28290,2021-12-17,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,39909dc5-51c1-4ae9-b8a1-17f7fe6f7828-i0b0,6f3d86e9e26107ad3f6e6fb3e40fe567b84703e83df4cc...,10,2011-10-16,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-02-17,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI

In [105]:
df.shape[0]

390911

In [106]:
df['paciente_id'].nunique()

318850

In [107]:
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

19069

In [108]:
#solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

19069

In [109]:
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

69726

In [138]:
df['estabelecimento_razaoSocial'].nunique()

64

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [150]:
df_menor = df[df["paciente_idade"]<18].copy()
df_menor.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
1,932c2b71-da1b-4cc9-9243-45876fa33afc-i0b0,f9f8a69f428be82064cbb83644dda18ef14085b416ec40...,16,2005-04-22,F,3,PARDA,120010.0,10.0,BRASILEIA,...,114.0,Outros,FF8842,PFIZER,Organization/00394544000851,2021-10-13,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,39909dc5-51c1-4ae9-b8a1-17f7fe6f7828-i0b0,6f3d86e9e26107ad3f6e6fb3e40fe567b84703e83df4cc...,10,2011-10-16,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-02-17,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
13,93d8215a-b9a1-4877-bbdc-a585a7b79759-i0b0,1e9ee5d8361d1c196cc24d34bd5260f3253665d314b825...,14,2007-06-10,M,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
17,93ff9437-1a9b-40ef-b29c-921aaf28e3b6-i0b0,3b697edb10207b852efede454249cfb5bef8930f18c8ec...,5,2018-04-21,F,3,PARDA,120030.0,10.0,FEIJO,...,2.0,Faixa Etária,230147,BUTANTAN,152,2023-11-25,Única,33,INF3,Novo PNI
18,6ee6c122-0bd9-4e2c-a2e7-0868aac44f67-i0b0,679083b924f6123c703132c0e146aa338d626c0f7b2ed0...,13,2008-08-18,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF5107,PFIZER,Organization/00394544000851,2021-09-21,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [152]:
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [154]:
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      49015
Povos Indígenas                                    4934
Outros                                             3755
Povos e Comunidades Tradicionais                    875
Trabalhadores de Saúde                              264
Comorbidades                                         58
População Privada de Liberdade                       53
Gestantes                                            47
Trabalhadores da Educação                            14
Trabalhadores de Transporte                          13
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [156]:
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [160]:
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(213, 6)